.booking-table {
  width: 100%;
  border-collapse: collapse;
}

.booking-table th, .booking-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.booking-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}